
@{
    ViewBag.Title = "Create your CV";
}
@Styles.Render("~/jQueryUi")
@Scripts.Render("~/bundles/jqueryui")
@Html.Partial("Sidebar")

<script>
    $(function () {
        $(".draggable-element").draggable({ containment: "#containment-wrapper", scroll: false });
    });
</script>

<div id="containment-wrapper" class="container">
    <a id="draggable3" class="draggable ui-widget-content">
    </a>
</div>