
<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>
    <ul class="nav menu">
        <li class="active"><a href="index.html"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a></li>
        <li class="parent">
            <a href="#">
                <span data-toggle="collapse" href="#sub-item-1"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg>Create a table</span>
            </a>
            <ul class="children collapse" id="sub-item-1">
                <li>
                    <label class="control-label" for="rows">Rows:</label>
                    <div class=""><input type="number" data-id="row-count" id="rows" name="rows" class="form-control" value="" placeholder="How many rows?" /></div>
                </li>                
                <li>
                    <label class="control-label" for="cols">Columns:</label>
                    <div class=""><input type="number" data-id="col-count" id="cols" name="cols" class="form-control" value="" placeholder="How many columns?" /></div>
                </li>
                <li>
                    <label class="control-label" for="table-name">Name:</label>
                    <div class=""><input type="text" data-id="table-name" id="table-name" name="table-name" class="form-control" value="" placeholder="Name the table" /></div>
                </li>
                <li>
                    <button id="create-table" class="btn btn-primary">Create</button>
                </li>
            </ul>
        </li>
        <li></li>
        <li><a href="#"><svg class="glyph stroked camera "><use xlink:href="#stroked-camera" /></svg> Add an image</a></li>
        <li><a href="tables.html"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg> Tables</a></li>
        <li><a href="forms.html"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg> Forms</a></li>
        <li><a href="panels.html"><svg class="glyph stroked app-window"><use xlink:href="#stroked-app-window"></use></svg> Alerts &amp; Panels</a></li>
        <li><a href="icons.html"><svg class="glyph stroked star"><use xlink:href="#stroked-star"></use></svg> Icons</a></li>
        <li role="presentation" class="divider"></li>
        <li><a href="login.html"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Login Page</a></li>
    </ul>
</div>
